*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}


@media only screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}


.artlogo {
  grid-column: 5 / span 4;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.artlogo img {
  width: 70%; /* Set the image width to 100% of its container */
  max-width: 100%; /* Ensure the image doesn't exceed its original size */
  height: auto; /* Maintain the aspect ratio */
}

.container {
  max-width: 95%;
  margin: 0 auto;
  margin-bottom: 10px;
  justify-content: center; /* Ensure the grid content is centered horizontally */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr)); /* Change to eight columns */
  gap: 10px;
  background-color: #ffffff;
}

.page-heading {
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
}

.grid-item1 {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.image-item1 {
  grid-column: 4 / span 6;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.grid-item2 {
  background-color: #ffffff;
  padding: 10px;
}

.image-item2 {
  grid-column: 10 / span 3;
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
}

.image-item1 img {
  width: 80%; /* Set the image width to 100% of its container */
  max-width: 100%; /* Ensure the image doesn't exceed its original size */
  height: auto; /* Maintain the aspect ratio */
}

.image-item2 img {
  width: 50%; /* Set the image width to 100% of its container */
  max-width: 100%; /* Ensure the image doesn't exceed its original size */
  height: auto; /* Maintain the aspect ratio */
}


.text-mergetitle {
  grid-column: 1 / span 12; /* Make the text grid item span columns 5 to 8 */
  font-weight: bolder;
  text-align: center;
  color: #125174;
  margin-top: 8px;
  margin-bottom: 8px;
}



@media only screen and (max-width: 600px) {
  .navbar, .bottomnavbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar a, .bottomnavbar a {
    flex: none;
    width: 100%;
  }
}


.navbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #333;
  padding: 4px;
}

.navbar a {
  flex: 1;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #4ba0c7;
}

/* Add this CSS for the second grid-container with eight columns */
.second-grid-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 10px;
}

/* Apply styles to the grid items within the second grid-container */
.second-grid-container .grid-item {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
  color: #ffffff;
}

.image-cover {
  grid-column: 1 / span 4; /* Make the image grid item span three columns */
  grid-row: span 1; /* Make the image grid item span two rows */
}

.image-cover img {
  width: 70%; /* Make the image fill the entire width of its container */
  height: auto; /* Maintain the image's aspect ratio */
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
}


.image-coverselection {
  grid-column: 1 / span 4; /* Make the image grid item span three columns */
  grid-row: span 1; /* Make the image grid item span two rows */
  transition: transform 0.3s ease-in-out;
}

.image-coverselection img {
  width: 70%; /* Make the image fill the entire width of its container */
  height: auto; /* Maintain the image's aspect ratio */
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
}

.middleimageselection {
  grid-column: 5 / span 4; /* Make the image grid item span three columns */
  grid-row: span 1; /* Make the image grid item span two rows */
}

.middleimageselection img {
  width: 70%; /* Make the image fill the entire width of its container */
  height: auto; /* Maintain the image's aspect ratio */
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
}


.text-content {
  grid-column: 6 / span 6; /* Make the text grid item span columns 4 to 8 */
  grid-row: span 1; /* You can adjust the number of rows as needed */
  padding: 10px; /* Add padding for better aesthetics */
  background-color: #ffffff; /* Example background color, customize as needed */
  text-align:center;
}

.text-content h2 {
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 10px;
  color: #125174;
  margin-bottom: 15px;
}

.text-content p {
  font-size: 16px; /* Example font size, customize as needed */
  color: #333; /* Example text color, customize as needed */
  margin-bottom: 20px;
  text-align: left;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .text-content p {
    font-size: 12px; /* Adjust the font size for smaller screens */
  }
}

/* Add additional styles as needed for the second grid items */


.text-content2 {
  grid-column: 2 / span 6; /* Make the text grid item span columns 4 to 8 */
  grid-row: span 1; /* You can adjust the number of rows as needed */
  padding: 10px; /* Add padding for better aesthetics */
  background-color: #ffffff; /* Example background color, customize as needed */
  text-align:center;
}

.text-content2 h2 {
  font-size: 32px;
  font-weight: bolder;
  margin-bottom: 10px;
  color: #125174;
  margin-bottom: 20px;
}

.text-content2 p {
  font-size: 16px; /* Example font size, customize as needed */
  color: #333; /* Example text color, customize as needed */
  margin-bottom: 15px;
  text-align: left;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .text-content2 p {
    font-size: 12px; /* Adjust the font size for smaller screens */
  }
}


.second-grid-container .grid-item.merged-image {
  grid-column: 9 / span 4; /* Make the merged item span three columns */
  grid-row: span 1; /* You can adjust the number of rows as needed */
  /* Additional styling if needed */
}

.second-grid-container .grid-item.merged-image img {
  width: 70%; /* Make the image fill its container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px;
  /* Additional styling if needed */
}


.second-grid-container .grid-item.merged-imageselection {
  grid-column: 9 / span 4; /* Make the merged item span three columns */
  grid-row: span 1; /* You can adjust the number of rows as needed */
  /* Additional styling if needed */
}

.second-grid-container .grid-item.merged-imageselection img {
  width: 70%; /* Make the image fill its container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px;
  /* Additional styling if needed */
}



/* Image spanning grid items 66 to 73 */
.second-grid-container .spanned-image {
  grid-column: span 12; /* Span across 12 columns */
}

.second-grid-container .spanned-image img {
  width: 100%;
  height: auto;
  /* Add any additional styling as needed */
}


.bottomnavbar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #333;
  padding: 4px;
  margin-bottom: 50px;
}

.bottomnavbar a {
  flex: 1;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.bottomnavbar a:hover {
  background-color: #555;
}


.organisation{
  text-align: center;
  color: black;
  margin-top: 10px;
}
